<div class="row">
    <div class="col-md-6 col-md-offset-6">
        <h1>Nuevo Producto</h1>
        <hr class="col-md-11S">

        <form action="/new" method="post">
            <div class="form-group">
                <label for="title" >Nombre de producto </label>
                <input type="text" id="password" name="title"  class="form-control" required name="title">
            </div>
            <div class="form-group">
                <label for="description" >Descripción de producto</label>
                <input type="text" id="description" name="description" class="form-control" required name="descripction">
            </div>
            <div class="form-group">
                <label for="image" >Imagen de producto</label>
                <input type="text" id="imagen" name="imagen" class="form-control" required name="imagen">
            </div>

            <div class="form-group">
                <label for="title" >Precio de producto</label>
                <input type="number" id="price" name="price"  class="form-control" required name="price">
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-primary">Guardar Producto</button>
        </form>
    </div>
</div>