.thumbnail img{
    max-height: 150px;

}

.thumbnail .description{
color: cornflowerblue;
}

.price{
    font-weight: bold;
    font-size: 22px;
}



.thumbnail {
    border-radius: 7px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    font-size: 26px;
}
body, html, head {
    width:100%;
    height: 100%;
}

.bigger {
    height: 100%;
    background: url("http://4.bp.blogspot.com/-9Kj6e2SaTVk/Uy8ZXjADUqI/AAAAAAAAgDM/hrlFO2ZPsGs/s1600/Impresionantes+fondos+abstractos+%252847%2529.jpg") no-repeat center;
    background-size: cover;

}

.navbar-brand>img {
    height: 50%;
    padding: 1px;
    width: 305px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 40%;
    max-width: 500px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.img {
    height: auto;
    max-width: 30%;
    width: 50%;

}

.cell {
    display: table-cell;
}

.cell-fluid {
    width: 50%;
}

.btn-primary-spacing
{
    margin-right: 5px;
    margin-left: 5px;
}

